.header__location {
    font-family: $font-text;
}

h1 {
    font-family: $font-title;
}

h2 {
    font-family: $font-text;
}

h3 {
    font-family: $font-text;
    text-transform: uppercase;
    font-size: 14px;
}

p {
    font-family: $font-text;
}

.button {
    font-family: $font-text;
}

a {
    text-decoration: none;
    color: black;
    &:visited {
        color: black;
    }
}