@media screen and (max-width: 767px) {
    .header__logo {
        height: 55px;
        width: 50%;
    }

    .booking {
        &__wrapper {
            display: flex;
            flex-direction: column;


        }
        &__info {
            margin-left: 30px;
        }
    }

    .explanation {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__number {
            left: -12px;
        }

        &__buttons {
            width: 80%;
            margin: 0 0 15px 25px;
        }
    }

   .restaurants {
       &__wrapper {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }

       &__title {
           margin-left: 35px;
       }

       &__card {
           margin-left: 35px;
    
       }

       &__card-img-1,
       &__card-img-2,
       &__card-img-3,
       &__card-img-4 {
           height: 150px;
       }

       &__card-img-1 {
           object-position: left bottom;
       }

    //    &__card-img-2 {
        //    object-position: 0px -137px;
    //    }


       &__card-img-3 {
           object-position: 0px -50px;
       }

       &__card-img-4 {
           object-position: 0px -50px;
       }

      &__card-icon {
          right: 13.5%;
          top: 77%;
      } 
   }   
}

@media screen and (max-width: 922px) and (min-width: 767px) {
    .header__logo {
        height: 75px;
        width: 40%;
    }

    .booking {
        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__info {
            margin-left: 35px;
        }

        .explore-btn {
            margin-right: 150px;
        }
    }

    .explanation {
        &__wrapper {
           margin-left: 18px;
           flex-direction: column; 
        }

        &__number {
            left: -11px;
        }

        &__buttons {
            width: 90%;
            margin: 0 15px 20px 18px;
        }
    }

    .restaurants {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__title {
            margin-left: 30px;
        }

        &__card {
            margin-left: 10%;
           
        }

        &__card-img-1,
        &__card-img-2,
        &__card-img-3,
        &__card-img-4 {
            height: 200px;
        }


        &__card-icon {
            top: 80%;
            right: 8%;
        }
    }
}

@media screen and (min-width: 993px) {

    .header__logo {
        height: 100px;
        width: 28%;
    }

    .booking {
        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__info {
            margin-left: 40px;
        }

        .explore-btn {
            margin: 30px 80px 25px 0;
        }
    }


   .explanation {
       &__wrapper {
           flex-direction: row;
           margin-left: 0;
       }

       &__number {
           margin-left: 55px;
           left: -63px;
       }

       &__buttons {
           width: 100%;
           padding: 20px;
           padding-bottom: 5px;
           border-radius: 25px;
           margin-left: 25px;
       }

       &__icon {
           font-size: 18px;
       }
   } 

   .restaurants {

       &__container {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-left: 10px;
           width: 100%;
           align-content: center;
           justify-content: center;
       }

       &__title {
           margin: 0 0 0 0;
       }

       &__card {
           margin-left: 100px;
           margin-bottom: 20px;
           width: 90px;
       }

       &__card-img-1,
       &__card-img-2,
       &__card-img-3,
       &__card-img-4 {
           height: 150px;
           
       }

   

       &__card-icon {
           top: 76.8%;
           right: 9.5%;
       }
   }
}