@media screen and (min-width: 300px) {
  $header-dur: 1000ms;
  $header-delay: 150ms;
  $title-delay: $header-dur + $header-delay;

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .header {
    &__title {
      @include center;
    }

    &__logo {
      padding: 10px;
      height: 100%;
    }

    &__location {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      background-color: lightgray;
      width: 100%;
      padding: 3px;
      box-shadow: inset 1px 5px 14px -14px gray;

      i {
        padding-right: 10px;
      }
    }
  }

  .location {
    &__wrapper {
      padding: 10px;
      margin-left: 10px;
    }
    &__search {
      align-items: center;
      width: 60%;
      border: none;
      font-weight: 900;
      background-color: lightgray;
    }

    &__search:focus {
      border: none;
      outline: none;
    }
  }

  .booking {
    text-align: center;

    &__wrapper {
      display: flex;
      align-items: center;
      background-color: #eaeaea;
    }

    &__title {
      padding: 20px 0;
      font-family: $font-text;
    }

    &__info {
      width: 80%;
      font-weight: 300;
      padding-bottom: 20px;
      font-family: $font-text;
      margin-left: 30px;
    }
  }

  .explore-btn {
    @include explore-btn;
  }

  .explore-btn:hover {
    filter: brightness(80%);
  }

  .explanation {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &__title {
      margin-left: 30px;
      padding: 35px 0 15px 0;
      font-weight: 500;
      font-size: 20px;
      font-family: "Roboto";
    }

    &__buttons {
      background-color: #ede6f3;
      position: relative;
      border: none;
      padding: 20px;
      border-radius: 25px;
      text-align: left;
      box-shadow: 2px 2px 2px gray;
      width: 80%;
      margin: 0 0 15px 15px;
    }

    &__icon {
      padding: 0 10px;
      width: 30px;
    }

    &__icon-3 {
      padding: 0 10px;
      width: 30px;
      color: $primary-clr;
    }
  }

  span {
    display: inline;
  }

  .explanation-number {
    color: white;
    padding-top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    background-color: $primary-clr;
    position: absolute;
    left: -2px;
  }

  .explanation__buttons:hover {
    background-color: #d7b1ee;
    .explanation__icon {
      color: $primary-clr;
    }
  }

  .restaurants {
    background-color: #eaeaea;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__title {
      padding: 20px;
      margin: 0;

    }

    &__card {
      position: relative;
      background-color: #fff;
      margin-left: 5%;
      margin-bottom: 30px;
      border-radius: 15px;
      height: auto;
      box-shadow: 2px 5px 5px lightgray;
    }

    &__card-info {
      margin-left: 5px;
      padding: 5px 0 15px 0;
    }

    a {
      text-decoration: none;
      &:visited {
        color: black;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
    }

    h4 {
      margin-top: 5px;
      font-weight: 200;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
    }

    &__card-img-1,
    &__card-img-2,
    &__card-img-3,
    &__card-img-4 {
      align-items: center;
      z-index: 8;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
      object-position: left bottom;
      text-decoration: none;

      &:hover {
        filter: brightness(75%);
        color: white;
      }
    }

    &__card-label {
      background-color: #99e2d0;
      color: #57b19a;
      margin: 0;
      width: 75px;
      padding: 5px 0;
      text-align: center;
      font-family: $font-text;
      font-size: 12px;
      position: absolute;
      top: 10px;
      right: 8px;
    }

    &__card-icon {
      display: inline-block;
      position: absolute;
      font-size: 20px;
      right: 13.5%;
      top: 80%;
    }

    .solid {
      position: absolute;
      opacity: 0;
      background: linear-gradient(to top, #ff79da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: opacity 3000ms;
    }

    .restaurants__card-icon:hover .solid {
      opacity: 100%;
      background: linear-gradient(to top #ff76da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: opacity 3000ms;
    }

    .outline {
      position: absolute;
      opacity: 100%;
      transition: opacity 3000ms;
    }

    .restaurants__card-icon:hover .outline {
      opacity: 0;
      transition: opacity 3000ms;
    }
  }
}
