@media screen and (max-width: 767px) {
    
    .menu__return {
        top: 4%;
        left: 10%;
    }

    .menu__img {
        width: 100%;
        height: 200px;
    }

   .menu__main-title {
       margin: 0 0 0 0;
   }  

   .menu__main-icon {
       left: 89%;
       top: 17%;
   }

   .solid {
       position: absolute;
       opacity: 0;
       background: linear-gradient(to top, #FF79DA, #9356DC);
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       transition: opacity 3000ms;
   }

   .menu__main-icon:hover .solid {
       opacity: 100%;
       background: linear-gradient(to #FF79DA, #9356DC);
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color:transparent;
       transition: opacity 3000ms;
   }

   .outline {
       position: absolute;
       opacity: 100%;
       transition: opacity 3000ms;
   }

   .menu__main-icon:hover .outline {
       opacity: 0;
       transition: opacity 3000ms;
   }

   .menu__options-title {
       margin: 30px 0 20px 18px;
   }

   .menu__card {
       width: 90%;
       margin-left: 18px;
   }

   .menu__price {
       padding: 0 8px 8px 50px;
   }

   .menu__text {
       width: 75%;
   }

   .menu__card:hover {
       .menu__text {
           width: 52%;
       }
   }

   .menu__description {
       font-size: 14px;
   }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
    .menu_return {
        top: 3%;
        left: 5%;
    }

    .menu__img {
        height: 200px;
    }

    .menu__main-title {
        margin:  15px 0 0 40px;
    }

    .menu__main-icon {
        top: 2.2%;
        left: 92.5%;
    }

    .menu__options-title {
        margin: 30px 0 20px 40px;
    }

    .menu__card {
        width: 90%;
        margin-left: 40px;
    }

    .menu__text {
        width: 88%;
    }

    .menu__price {
        padding: 0 8px 8px 50px;
    }

    .menu__description {
        font-size: 14px;
    }

    .menu__card:hover {
        .menu__text {
            width: 70%;
        }
    }
}

@media screen and (min-width: 993px) {

    * {
        padding: 0;
        margin: 0;
    }


    .menu__return {
        top: 5%;
        left: 2%;
    }

    .menu__img {
        height: 200px;
        object-fit: cover;
    }

    .menu__main-title {
        margin: 0;
    }

    .menu__main-icon {
        top: 6.5%;
        right: 97.2%;
    }

    .menu__options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu__entrees,
    .menu_main-dish,
    .menu__dessert {
        width: 100%;
    }

    .menu__options-title {
        width: 85%;
        margin: 30px 0 20px 35px;
    }

    .menu__card {
        width: 90%;
        margin-left: 35px;
    }

    .menu__text {
        width: 82%;
    }

    .menu__price {
        padding: 5px 8px 8px 10px;
    }

    .menu__card:hover {
        .menu__text {
            width: 55%;
        }
    }

    .menu__description {
        font-size: 14px;
    }
    




}