@media screen and (max-width: 767px) {
    
    .menu__return {
        top: 4%;
        left: 10%;
    }

    .menu__img {
        width: 100%;
        height: 200px;
    }

   .menu__main-title {
       margin: 0 0 0 0;
   }  

   .menu__main-icon {
       left: 89%;
       top: 17%;
   }



   .menu__options-title {
       margin: 30px 0 20px 18px;
   }

   .menu__card {
       width: 90%;
       margin-left: 18px;
   }

   .menu__price {
       padding: 0 8px 8px 50px;
   }

   .menu__text {
       width: 75%;
   }

   .menu__card:hover {
       .menu__text {
           width: 52%;
       }
   }

   .menu__description {
       font-size: 14px;
   }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
    .menu_return {
        top: 3%;
        left: 5%;
    }

    .menu__img {
        height: 200px;
    }

    .menu__main-title {
        margin:  15px 0 0 40px;
    }

    .menu__main-icon {
        top: 2.2%;
        left: 92.5%;
    }

    .menu__options-title {
        margin: 30px 0 20px 40px;
    }

    .menu__card {
        width: 90%;
        margin-left: 40px;
    }

    .menu__text {
        width: 88%;
    }

    .menu__price {
        padding: 0 8px 8px 50px;
    }

    .menu__description {
        font-size: 14px;
    }

    .menu__card:hover {
        .menu__text {
            width: 70%;
        }
    }
}

@media screen and (min-width: 993px) {

    * {
        padding: 0;
        margin: 0;
    }


    .menu__return {
        top: 5%;
        left: 2%;
    }

    .menu__img {
        height: 200px;
        object-fit: cover;
    }

    .menu__main-title {
        margin: 0;
    }

    .menu__main-icon {
        top: 6.5%;
        right: 97.2%;
    }

    .menu__options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu__entrees,
    .menu_main-dish,
    .menu__dessert {
        width: 400px;
    }

    .menu__options-title {
        width: 85%;
        margin: 30px 0 20px 35px;
    }

    .menu__card {
        width: 100px;
        margin-left: 35px;
    }

    .menu__text {
        width: 82%;
    }

    .menu__price {
        padding: 5px 8px 8px 32px;
    }

    .menu__card:hover {
        .menu__text {
            width: 55%;
        }
    }

    .menu__description {
        font-size: 14px;
    }
    




}